<!DOCTYPE html>
<html>
    <head>
        <title>Hello jQuery</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="static/js/create.js"></script>
    </head>

    <body>
      <script>
      $(document).ready(function() {
          $.ajax({
              url: "http://localhost:5000/playbookmanager/api/v1/attack-patterns/1"
          }).then(function(data) {
             $('.attack-pattern-desc').append(data[0].objects[0].description);
          });
      });
      </script>
        <div>
            <p class="attack-pattern-name">The ID is </p>
            <p class="attack-pattern-desc">The content is </p>
        </div>
    </body>
</html>
